@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My WebApplication</h1>    
    <h1 class="display-4">ThankYou for Visiting - This is Batch3</h1> 
</div>
